<a href="https://colab.research.google.com/github/setyo-dwi-pratama/python-basics/blob/master/1_variabel_dan_tipe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MATERI 1**

---

# **VARIABEL DAN TIPE DATA**

# **1. Variabel**
*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**a.   Membuat sebuah variabel dengan berbagai tipe data dan struktur data Python**

In [2]:
var1 = 'Hello World!' 
var2 = 1234567890
var3 = 0.123456789
var4 = True
var5 = 1j+1
var6 = [1,2,3,4]
var7 = (1,2,3,4)
var8 = {1,2,3,4}
var9 ={"angka":[1,2,3,4]}

**b. Memanggil variabel**

In [17]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex
print(var6) #struktur list yang berisi tipe data integer
print(var7) #struktur tuple yang berisi tipe data integer
print(var8) #struktur set yang berisi tipe data integer
print(var9) #struktur dictonary yang berisi tipe data integer

Hello World!
1234567890
0.123456789
True
(1+1j)
[1, 2, 3, 4]
(1, 2, 3, 4)
{1, 2, 3, 4}
{'angka': [1, 2, 3, 4]}

## **2. TIPE DATA DAN STRUKTUR**
*   Tipe data dan struktur dalam python berguna untuk mengidentifikasikan sebuah data atau nilai 
*   Tipe data dan struktur mempunyai sifatnya masing-masing (akan dibahas masing-masing dimateri selanjutnya)

**TIPE DATA:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)
**STRUKTUR DATA:**
1.   List
2.   Tuple
3.   Set
4.   Dictonary

**a. Melihat Tipe data dan Struktur data dari variabel**

In [21]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))
print(var6,'Struktur data var6:', type(var6))
print(var7,'Struktur data var7:', type(var7))
print(var8,'Struktur data var8:', type(var8))
print(var9,'Struktur data var9:', type(var9))

Hello World! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
True Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>
[1, 2, 3, 4] Struktur data var6: <class 'list'>
(1, 2, 3, 4) Struktur data var7: <class 'tuple'>
{1, 2, 3, 4} Struktur data var8: <class 'set'>
{'angka': [1, 2, 3, 4]} Struktur data var9: <class 'dict'>